name: test-gptscript-action

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  test_gptscript_action:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    permissions: {}

    name: Install gptscript and test presence in path
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Install gptscript
        uses: ./
      - name: Check install!
        run: gptscript --version
        shell: bash

  test_gptscript_action_custom:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    permissions: {}

    name: Install Custom gptscript and test presence in path
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Install gptscript
        uses: ./
        with:
          gptscript-release: '0.1.4'
      - name: Check install!
        run: gptscript --version
